<ol class="breadcrumb bc-2">
  <li>
    <a href="#!/">
      <i class="entypo-home"></i>
      Главная
    </a>
  </li>
</ol>
<div class="row">
  <div class="col-sm-3">
    <div class="tile-stats tile-white-green">
      <div class="icon">
        <i class="entypo-suitcase"></i>
      </div>
      <div class="num">83</div>
      <h3>Проведено встреч</h3>
      <p><a href="#!/">Подробно</a></p>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="tile-stats tile-white-red">
      <div class="icon">
        <i class="entypo-suitcase"></i>
      </div>
      <div class="num">15</div>
      <h3>Осталось встреч</h3>
      <p><a href="#!/">Подробно</a></p>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="tile-stats tile-white-blue">
      <div class="icon">
        <i class="entypo-suitcase"></i>
      </div>
      <div class="num">4</div>
      <h3>Встреч на сегодня</h3>
      <p><a href="#!/">Подробно</a></p>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="tile-stats tile-white-gray">
      <div class="icon">
        <i class="entypo-suitcase"></i>
      </div>
      <div class="num">5</div>
      <h3>Встреч на завтра</h3>
      <p><a href="#!/">Подробно</a></p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary" data-collapsed="0">
      <!-- panel head -->
      <div class="panel-heading">
        <div class="panel-title"><h4>Сделки</h4></div>
      </div>
      <!-- panel body -->
      <div class="panel-body with-table">
        <table class="table table-bordered table-responsive">
          <thead>
          <tr>
            <th>Статус</th>
            <th>Клиент</th>
            <th>Регион</th>
            <th>Описание</th>
            <th>Сумма</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Договор</td>
            <td>Хлебороб, ООО</td>
            <td>Ростовская обл, Красносулинский р-н</td>
            <td>ACROS-595</td>
            <td>6 212 700</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary" data-collapsed="0">
      <!-- panel head -->
      <div class="panel-heading">
        <div class="panel-title"><h4>Контоль сделок</h4></div>
      </div>
      <!-- panel body -->
      <div class="panel-body">
        <div class="row">
          <div class="col-md-8">
            <div id="container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
          </div>
          <div class="col-md-4">
            <form role="form" class="form-horizontal">
              <div class="form-group">
                <label for="manager" class="col-sm-3 control-label">Менеджер</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" id="manager" placeholder="Иванов И.И.">
                </div>
              </div>
              <div class="form-group">
                <label for="product-group" class="col-sm-3 control-label">Товарная группа</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" id="product-group" placeholder="Все">
                </div>
              </div>
              <div class="form-group">
                <label for="regions" class="col-sm-3 control-label">Районы</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" id="regions" placeholder="Все">
                </div>
              </div>
              <button type="button" class="btn btn-primary btn-block"><i class="fa fa-filter"></i> Применить фильтр</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
